<h1>Edit a Task List</h1>



<%= form_for @task_list, url: update_task_list_path do |f| %>
  <% f.object.errors.full_messages.each do |error| %>
    <div class="errors">
      <%= error %>
    </div>
    <% end %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Edit Task List" %>
  </p>
<% end %>