<h1>Add a task list</h1>

<p class="maroon">
<% if @task_list.errors.any? %>
  <% @task_list.errors.messages[:name].each do |error| %>
    <%= error %>
    <% end %>
  <% end %>
</p>

<%= form_for @task_list, url: "/task_lists/new" do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.submit "Create Task List" %>
  </div>
<% end %>

